<style>

    [bn-smooth-box] {
        margin-top: 10px;
    }

    [bn-smooth-box]#withValues {
        background-color: rgba(255,0,0,0.5);
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgba(38,56,192, 0.7);
        border: 5px dashed green;
    }



</style>

<h1> Test Page</h1>
<p>
    This is a test page to see your component in action. <br>
    When using this component in another project, only the stuff in lib will be imported
</p>

<div bn-smooth-box>
    <h1>This is default smooth box</h1>
    <p>This is some arbitrary content to fill up some space.</p>
</div>


<div id="withValues" bn-smooth-box>
    <h1>This smooth box overrides all overridable values</h1>
    <p>This is some arbitrary content to fill up some space.</p>
</div>


<div bn-smooth-box no-padding no-border-radius no-shadow no-border no-background>
    <h1>This smooth box has all settings disabled</h1>
    <p>This is some arbitrary content to fill up some space.</p>
</div>

